.custom-icon {
    width: 40px; 
    height: 40px;
    margin: 10px
}

lightning-input {
    margin: 7px;
}

lightning-button {
    margin: 20px 0 0 40%;
}

.elevated-button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.elevated-button:hover {
  transform: translateY(-3px);
}